body {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(211, 233, 255);
}

.Main_header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: white;
    width: 100%;
    height: 90px;
    position: relative;
    border-bottom: 3px solid;
    border-color: lightgrey
}

#nameHeader {
    width: 250px;
    height: 45px;
    color: white;
    background: seagreen;
    padding: 25px 10px 20px 10px;
    text-align: center;
    margin: 0 0 0 112px;
}

h1 {
    margin: 0;
}

.navBar {
    height: 45px;
    width: auto;
    position: absolute;
    text-align: center;
    right: 0;
    margin: 0 112px 0 0;
    padding: 15px 0 30px 0;
    top: 0;
    color: slategray;
}

h3 {
    color: white;
}

.main_body {
    background: rgb(222, 247, 255);
    margin: 0 auto;
    max-width: 960px;
}

#aboutMehead {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px 20px;
    border-bottom: 3px solid lightgray;
    padding: 20px 0 20px;
}

.aboutMeinfo {
    color: black;
    width: 960px;
    margin-bottom: 20px;
    margin: 0 40px 20px 20px;
}

.contact_info {
    margin: 20px
}

h4 {
    margin: 20px 0 0 0
}

img {
    height: 200px;
    width: 300px;
    float: left;
    margin: 0 10px 0 20px;
    border: 4px solid white;
}

footer {
    width: 100%;
    height: 80px;
    position: sticky;
    clear: both;
    bottom: 0;
    background: white;
    text-align: center;
    border-top: 8px solid cyan;
    margin-top: auto;
}

#index {
    color: black;
}

#portfolio {
    border-right: 2px solid seagreen;
    border-left: 2px solid seagreen;
    margin: 0 5px;
    padding: 0 10px;
    color: black;
}

#contact {
    color: black
}

button {
    background: blue;
    color: white;
    padding: 10px;

}

#portfolioPic {
    margin: 20px 0px 0px 20px;

}

.contact_info {

}